.categories_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  padding: 40px;
}

/* Loading */
.loading {
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
}

/* Card */
.category_card {
  position: relative;
  height: 320px;
  border-radius: 20px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: 0.4s;
}

.category_card:hover {
  transform: scale(1.05);
}

/* Overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* Content */
.content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  z-index: 2;
}

.content h2 {
  margin-bottom: 10px;
  font-size: 22px;
  text-shadow: 2px 2px 10px black;
}

/* Button */
.content button {
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  background: white;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.content button:hover {
  background: green;
  color: white;
}